.tdashboardui {
    align-items: center;
    background-color: #303038;
    color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
  }
  .taskdashboard{
    background-color: #181824;
    border-radius: 25px;
    box-shadow: 0 0.4px 0.8px rgba(0, 0, 0, 0.008),
      0 0.9px 1.9px rgba(0, 0, 0, 0.017), 0 1.6px 3.6px rgba(0, 0, 0, 0.031),
      0 2.9px 6.5px rgba(0, 0, 0, 0.058), 0 5.4px 12.8px rgba(0, 0, 0, 0.103),
      0 13px 36px rgba(0, 0, 0, 0.16);
    height: 520px;
    overflow: auto;
    padding: 32px;
    width: 100%;
  }
  .greeting {
    font-size: 48px;
    font-weight: 700;
    margin-top: 12px;
  }
  .tagline {
    margin-top: 16px;
    margin-bottom: 28px;
  }
  .topics {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    width: 100%;
  }
  .topic {
    height: 160px;
    position: relative;
    width: 400px;
  }
  .topic-bg {
    background-color: #2d2d34;
    border-radius: 25px;
    height: 100%;
    position: absolute;
    transform-origin: 50% 0;
    width: 100%;
  }
  .topic-title {
    font-size: 14px;
    position: relative;
    margin: 20px 20px 0;
  }
  .topic-color {
    background-color: #f0f;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    width: 12px;
  }
  .topic-color1 {
    background-color: #e4ca37;
  }
  .topic-color2 {
    background-color: #33ce79;
  }
  .topic-color3 {
    background-color: #ce3333;
  }
  .topic-count {
    color: #808189;
    font-size: 12px;
    margin: 8px 20px 0;
    position: relative;
  }
  .articles {
    margin: 15px 20px 0;
  }
  .article {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 8px;
    height: 18px;
    opacity: 0;
    position: relative;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  .article1:hover {
    text-decoration-color: #e4ca37;
  }
  .article2:hover {
    text-decoration-color: #33ce79;
  }
  .article3:hover {
    text-decoration-color: #ce3333;
  }
  .article4:hover {
    text-decoration-color: #f0f;
  }
  .below-the-fold {
    height: 268px;
    margin-top: 40px;
    width: 100%;
  }
  .below-the-fold.extra-margin0 {
    margin-top: 128px;
  }
  .below-the-fold.extra-margin1 {
    margin-top: 92px;
  }
  .below-the-fold.extra-margin2 {
    margin-top: 132px;
  }
  .below-the-fold.extra-margin3 {
    margin-top: 240px;
  }
  .divider {
    margin-bottom: 40px;
    margin-top: 48px;
  }
  .profile {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .option {
    cursor: pointer;
    margin-bottom: 4px;
  }
  .option:hover {
    text-decoration: underline;
  }
  .magazine {
    margin-top: 92px;
    text-align: center;
  }
  .copyright {
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
  }
